<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<head>
	<title>Tech Quad</title>
</head>
<body>
	<p id="temp">Hello</p>
</body>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  console.log($SCRIPT_ROOT);
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/update', {
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });

  });
</script>
<h1></h1>
<p><span id=result>?</span><p>
	<a href=# id=calculate>Show Network</a>
</html>